.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 51px;
    background: var(--color-secundario);
    position: relative;
}

.cabecera::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(34, 113, 209), rgba(34, 113, 209, 0.7));
    box-shadow: 0px 0px 10px rgba(34, 113, 209, 0.8), 0px 0px 20px rgba(34, 113, 209, 0.6);
}

nav {
    display: flex;
    gap: 25px;
} 

@media (max-width: 1024px) {
    .cabecera{
        padding: 20px 42px;
    }
}

@media (max-width: 540px) {
    .cabecera{
        display: none;
    }
}